@charset "UTF-8";

body{
	height: 645px;
}

img#icone{
	margin-left: 15px;
	margin-top: 5px;
	height: 60px;
}

	/*----------- Formatacao dos menu -----------*/

header#cabecalho{
	height: 75px;
	background-color: #11908a;
}

nav{
	display: block;
}


nav#menu ul {
	position: absolute;
	text-transform: uppercase;
	font-size: 15pt;
	top: 10px;
	left: 80px;
}

li {
	display: inline-block;
	text-align: center;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 3px;
	border-radius: 30px;
	transition: background-color 1s;
	
}

nav#menu li:hover {
	background-color: #3fb5b5;
}


a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}


/*---------------------------------*/

ul ul{
	display: none;
}

ul li:hover > ul{
	display: block;
}


ul#sub li{
	display: block;
	margin-left: 420px;
	background-color: #be7df0;
}

li#prima{
	margin-top: 7px;
}