@charset "UTF-8";


/*================ Formatacao do Cabecalho ================*/

header#cabecalho{
	height: 75px;
	background-color: #5d9e73;
}

nav#menu{
	display: block;
}

nav#menu ul {
	position: absolute;
	text-transform: uppercase;
	font-size: 15pt;
	top: 10px;
	left: 825px;
}

nav#menu li {
	display: inline-block;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
	border-radius: 30px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #3fb5b5;
}


nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}


/*================ Formatacao do Rodapé =================*/

div#rodape{
	border-top: 2px solid #606060;
	text-align: center;
}


div#rodape footer{
	border-top: 2px solid #606060;
}

/*================================================================*/

/*----------- Formatacao dos Links -----------*/

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
} 

a#facebook:hover {
	color: blue;
}

a#instagram:hover { 
	color: #fa0060;
}


/*================================================================*/


