

div#desenvolvimento{
	position: relative;
	top: -560px;
	text-align: center;
}


form{
	width: 825px;
	margin: auto;
	text-align: center;
	padding-top: 15px;
}


input, select{
	display: block;
	height: 40px;
	width: 240px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #FF0066;
	font-size: 15pt;
	padding-left: 15px;
}

textarea{
	border-radius: 20px;
	border: 1px solid black;
	font-size: 15pt;
}

input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
}


p{
	margin: auto;
	font-weight: bold;
	font-size: 22pt;
	float: left;
	padding: 15px;
	color: black;
}


p#naofloat{
	float: none;
}

/*======================================================================*/

		/*------ quando a section possui dois campos ------*/

section#dois p#primeiro{
	margin-left: 135px;
}
	









