@charset "UTF-8";


body{
	color: black;
	height: 600px;
}



div#corpo-form{
	width: 450px;
	height: 250px;
	/*background-color: #eeeeee;*/
	padding-top: 10px;
	margin: auto;
	margin-top: 90px;
	margin-bottom: 100px;
	text-align: center;
	
}



input{
	display: block;
	height: 50px;
	width: 350px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.6);
	font-size: 15pt;
	padding-left: 15px;
}

input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
	margin-top: 15px;
	width: 275px;
}


h1{
	color: black;
}