
fieldset{
	width: 700px;
	margin: auto;
	margin-top: 50px;
}

table{
	width: 600px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #dddddd;
	border: 2px solid rgba(0, 0, 0, .7);
	border-spacing: 0px;
}

table td {
	border: 1px solid #606060;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}


table td.ce {
	width: 300px;
	font-weight: bold;
}


legend{
	/*background-color: rgba(0, 255, 0, 0.5);/#5cf761;*/
	background-color: rgba(180, 80, 255, 0.6);
	font-size: 14pt;
	font-weight: bold;
}


h1{
	margin: 40px;
	text-align: center;
	font-size: 22pt;
}

p{
	text-align: center;
	font-size: 15pt;
}

p#a{
	margin-top: -20px;
}

button{
	display: block;
	cursor: pointer;
	height: 40px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #FF0066;
	font-size: 15pt;
	padding-left: 15px;
}




