h1{
	margin: 40px;
	text-align: center;
	font-size: 22pt;
}

button{
	display: block;
	cursor: pointer;
	height: 40px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #FF0066;
	font-size: 15pt;
	padding-left: 15px;
}