table#tabelaspec {
	border: 1px solid #888888;
	border-spacing: 0px;
	margin: auto;
}

table#tabelaspec td {
	border: 1px solid #808080;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}


table#tabelaspec td.ce {
	color: white;
	background-color: #636363;
	font-weight: bold;
}


table#tabelaspec td.cd {
	background-color: #cecece;
	
}

table#tabelaspec caption {
	font-size: 18pt;
	font-weight: bolder;
	padding: 10px;
}



h1{
	text-align: center;
	
}

td.ce{
	width: 320px;
	font-size: 15pt;
}
td.cd{
	width:280px;
	font-size: 15pt;
}