
div#desenvolvimento{
	position: relative;
	top: -560px;
	text-align: center;
}

/*=============================================*/

input{
	display: block;
	height: 40px;
	width: 240px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #3d9c75;
	font-size: 15pt;
	cursor: pointer;
}












