
body{
	color: white;
	font-size: 15pt;
	height: 700px;
}


/*-------------------------------------------------*/

div h1{
	text-align: center;
	padding:10px;
}


div#corpo-form{
	position: relative;
	top: -600px;
	margin: auto;
	width: 450px;
	/*background-color: #dddddd;*/
}


input, select{
	display: block;
	height: 50px;
	width: 350px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.6);
	font-size: 15pt;
	padding-left: 15px;
}


input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
	margin-top: 15px;
	width: 275px;
}




body#cadastro div#corpo-form{
	top: -650px;
}


/*-------------------------------------------------*/

p{
	text-align: center;
	color: black;
	font-weight: bold;
}


a{
	color: green;
	text-decoration: none;
}


a:hover{
	text-decoration: underline;
}

/*-------------------------------------------------*/






